<div id="footer">
  <div class="footer-container">
    
    <!-- Linke Spalte: Adresse -->
    <div class="footer-left">
      <strong>Hausverwaltung Marco Müller</strong><br>
      Markgrafstraße 29, 30419 Hannover<br>
      Tel.: <a href="tel:+4951151544113">0511 - 515 44 113</a> <br>
      E-Mail:<a href="mailto:info@hausverwaltung-marcomueller.de">info@hausverwaltung-marcomueller.de</a>
    </div>

    <!-- Mittlere Spalte: Logos -->
    <div class="footer-center">
      <!--//Logo erstmal unsichtbar gemacht
      <a href="https://vdiv-niedersachsen-bremen.de/" target="_blank">
        <img src="/assets/img/vdivlogo.png" alt="VDIV Mitglied" class="footer-logo">
      </a>
      -->
      <a href="https://badges.ihk-kompetenz.plus/assertion/f215ab3c-9e25-4efe-83a8-da10036371b5?id=..." target="_blank">
        <img src="/assets/img/nachweise-und-zertifikate/badge.png" alt="IHK Immobilienverwalter" class="footer-logo">
      </a>
    </div>

    <!-- Rechte Spalte: Links -->
    <div class="footer-right">
      <a href="/kontakt/">Kontakt</a><br>
      <a href="/impressum/">Impressum</a><br>
      <a href="/datenschutz/">Datenschutzerklärung</a>
    </div>

  </div>
</div>
