
<div id="about">
    <div id="footer_div">
        <div>
            <h6>{{ site.title }}</h6>
            Marco Müller<br>
            Markgrafstraße 29<br>
            30419 Hannover<br>
            <a href="/kontakt/">Kontakt</a> <br>
            <a href="/datenschutz/">Datenschutz</a> <br>
            Impressum <br>
            {{ site.contact.email }}
        </div>
         <div>
            Mitglied im Verband der Immobilienverwalter Niedersachsen e.V.<br>
            <a href="https://vdiv-niedersachsen-bremen.de/" target="_blank"><img src="/assets/img/vdivlogo.png" alt="Mitglied im Verband der Immobilienverwalter e.V." class="Mitgliedschaft im Verband der Immobilienverwalter Niedersachsen" width="200" height="75"></a>
        </div>
    </div>
</div>
