<!--
__     __                      _ _
\ \   / /__ _ ____      ____ _| | |_ _   _ _ __   __ _
 \ \ / / _ \ '__\ \ /\ / / _` | | __| | | | '_ \ / _` |
  \ V /  __/ |   \ V  V / (_| | | |_| |_| | | | | (_| |
   \_/ \___|_|    \_/\_/ \__,_|_|\__|\__,_|_| |_|\__, |
                                                 |___/
 __  __  /\/| _   __    _ _
|  \/  ||/\/ / | / / _ | | | ___ _ __
| |\/| | /_\ | |/ / | || | |/ _ \ '__|
| |  | |/ _ \|_/ /|_  _| | |  __/ |
|_|  |_/_/ \_\/_/   |_||_|_|\___|_|

-->
<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
    <head>{%- include head.html -%}</head>
    
    <body>

        <header>
            <div id="introduction_image_container">
                <img src="/assets/img/hannover_panorama.jpg" alt="Panorama von Hannover Linden" id="introduction_image">
            </div>
            {%- include header.html -%}
        </header>

        <nav>
            {%- include menu.html -%}
        </nav>

        <main>
            {{ content }}
        </main>

        <footer>
            {%- include footer.html -%}
        </footer>

    </body>

</html>
